[submodule "tools/format"]
	path = tools/format
	url = git@github.com:embeddedartistry/format.git
[submodule "avr/libraries/AthenaEEPROM"]
	path = avr/libraries/AthenaEEPROM
	url = https://github.com/embeddedartistry/AthenaEEPROM
[submodule "avr/libraries/AthenaEthernetReset"]
	path = avr/libraries/AthenaEthernetReset
	url = git@github.com:embeddedartistry/AthenaEthernetReset.git
