[submodule "tools/format"]
	path = tools/format
	url = https://github.com/embeddedartistry/format
[submodule "avr/libraries/AthenaEEPROM"]
	path = avr/libraries/AthenaEEPROM
	url = https://github.com/embeddedartistry/AthenaEEPROM
[submodule "avr/libraries/AthenaEthernetReset"]
	path = avr/libraries/AthenaEthernetReset
	url = https://github.com/embeddedartistry/AthenaEthernetReset
